.main{
    /* width: 0%; */
    margin: auto;
    justify-content: center;
}
.container{
   text-align: center;
}

.button{
    padding: 5px;
    display: inline-block;
    margin: 0 10px;
}
.array-input{
    margin-bottom: 5px;
}

li{
    font-size: 20px;
    font-weight: bold;
    margin-left: -20px;
    list-style: none;
    color: black;
    display: table-cell;
}
ul{
    width: 50%;
}

.box{
    border-style: solid;
    padding: 25px;
}
